*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:25px 12%;
    background: rgba(15, 3, 53, 0.215);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:99;
}

.logo{
    font-size: 0.5cm;
    color: #fff;
    user-select: none;
}

.navbar a{
    position: relative;
    font-size: 0.5cm;
    color: #fff;
    text-decoration: none;
    font-weight:400;
    margin-left: 40px;
}

.navbar a::after{
    content:'';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 0%;
    height:2px;
    background: #2e922e;
    display: block;
    margin: auto;
    border-radius: 5px;
    transform-origin: right;
    transition: 0.5s;
   
}

.navbar a:hover::after{
    width:100%;
}


.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
 
  
}
.pic{
  height: auto;
  width:  650px;
}
.about{
  width: 1300px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(33, 184, 187);

}
.text h5{
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
}
.data{
  margin-top: 30px;
}
.detail{
  font-size: 18px;
  background: rgb(33, 184, 187);
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.detail:hover{
  background: #000;
  border: 1px solid #4070f4;
}
 